body {
  background-image: url("image.png");
}

h1 {
  color : white
}

h2 {
  color : white
}

p {
  color : white
}

td {
  color : white
}

head {
  text-align: left;
}
.header {
  position: absolute;
  width: 100%;
  background-color: palevioletred;
}

.footer {
  position: absolute;
  width: 100%;
  background-color: palevioletred
}

.footer_name {
  font-size: 100%;
  color: white;
  text-align: center;
  }